<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technopy! 🇨🇱</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
  </head>
  <body class="bg-base-100 w-full">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a href="{% url "index" %}" class="btn btn-ghost text-xl">Technopy</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li>
            <div class="drawer drawer-end">
              <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
              <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer-4" class="drawer-button btn btn-primary">Menu</label>
              </div> 
              <div class="drawer-side">
                <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                  <!-- Sidebar content here -->
                  <li><a href="{% url "index" %}" >Home</a></li>
                  <li><a href="{% url "about" %}" >About me</a></li>
                  <li><a href="{% url "career" %}" >Career</a></li>
                  <li><a href="{% url "photography" %}" >Photography</a></li>
                  <li><a href="{% url "projects" %}" >Projects</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {% block inbody %} 
    {% endblock %}

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <aside>
        <p>Technopy &copy; 2023 - All right reserved.</p>
      </aside>
    </footer>
  </body>
</html>
